
/android/bin
/android/gen
/server/test-classes
/server/war/sjtrafficserver
/server/war/WEB-INF/classes
/server/war/WEB-INF/deploy
/shared/gen
/shared/bin
/shared/target
/shared/.settings
/shared/build
/shared/target
/shared/.classpath
/shared/.project
/android/target
/android/.settings
/server/.gwt
/server/.settings
/server/gwt-unitCache
/server/target
/server/test-classes
/server/.classpath
/server/.project
/server/.settings
/server/target
/server/.classpath
/server/.project
/.settings
/.project
/libs/.project
/libs/.settings
/android-testclient/bin
/android-testclient/gen
/android-testclient/target
/android-testclient/.classpath
/android-testclient/.project
/android-testclient/.settings
/images/orginal/target