
/android/bin
/android/gen
/server/test-classes
/server/war/sjtrafficserver
/server/war/WEB-INF/classes
/server/war/WEB-INF/deploy
/shared/gen
/shared/bin
/shared/target
/shared/.settings
/shared/build
/shared/target
/shared/.classpath
/shared/.project
/android/target
/android/.settings
/server/.gwt
/server/.settings
/server/gwt-unitCache
/server/target
/server/test-classes
/server/.classpath
/server/.project