<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>adminServlet</servlet-name>
		<servlet-class>se.acrend.sjtrafficserver.admin.server.AdminServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>se.acrend.sjtrafficserver.user.server.UserServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>registrationServlet</servlet-name>
		<servlet-class>se.acrend.sjtrafficserver.server.servlet.RegistrationServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>billingServlet</servlet-name>
		<servlet-class>se.acrend.sjtrafficserver.server.servlet.BillingServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>proxyServlet</servlet-name>
		<servlet-class>se.acrend.sjtrafficserver.server.servlet.TrainProxyServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>authQueueServlet</servlet-name>
		<servlet-class>se.acrend.sjtrafficserver.server.servlet.queue.AuthQueueServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>sendMessageQueueServlet</servlet-name>
		<servlet-class>se.acrend.sjtrafficserver.server.servlet.queue.SendMessageQueueServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>findChangedStopsQueueServlet</servlet-name>
		<servlet-class>se.acrend.sjtrafficserver.server.servlet.queue.FindChangedStopsQueueServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>findCurrentTrainsCronServlet</servlet-name>
		<servlet-class>se.acrend.sjtrafficserver.server.servlet.cron.FindCurrentTrainsCronServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>purgeDataCronServlet</servlet-name>
		<servlet-class>se.acrend.sjtrafficserver.server.servlet.cron.PurgeDataCronServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>adminServlet</servlet-name>
		<url-pattern>/admin/admin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/user/user</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>registrationServlet</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>billingServlet</servlet-name>
		<url-pattern>/billing</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>proxyServlet</servlet-name>
		<url-pattern>/proxy</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>authQueueServlet</servlet-name>
		<url-pattern>/_ah/queue/update-server-auth</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>sendMessageQueueServlet</servlet-name>
		<url-pattern>/_ah/queue/send-message</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
    <servlet-name>findChangedStopsQueueServlet</servlet-name>
    <url-pattern>/_ah/queue/current-trains</url-pattern>
  </servlet-mapping>
  
  	<servlet-mapping>
		<servlet-name>findCurrentTrainsCronServlet</servlet-name>
		<url-pattern>/cron/check-traffic</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>purgeDataCronServlet</servlet-name>
		<url-pattern>/cron/delete-old-entries</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>User.html</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>any</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>queues</web-resource-name>
			<url-pattern>/_ah/queue/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
