<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:appCtx.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>vaadinServlet</servlet-name>
		<servlet-class>se.acrend.christopher.server.web.SpringVaadinServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>se.acrend.christopher.server.web.application.VaadinApplication</param-value>
		</init-param>
	</servlet>
	
	<servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class> org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
<!-- 
	<servlet>
		<servlet-name>registrationServlet</servlet-name>
		<servlet-class>se.acrend.christopher.server.servlet.RegistrationServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>billingServlet</servlet-name>
		<servlet-class>se.acrend.christopher.server.servlet.BillingServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>proxyServlet</servlet-name>
		<servlet-class>se.acrend.christopher.server.servlet.TrainProxyServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>authQueueServlet</servlet-name>
		<servlet-class>se.acrend.christopher.server.servlet.queue.AuthQueueServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>sendMessageQueueServlet</servlet-name>
		<servlet-class>se.acrend.christopher.server.servlet.queue.SendMessageQueueServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>findChangedStopsQueueServlet</servlet-name>
		<servlet-class>se.acrend.christopher.server.servlet.queue.FindChangedStopsQueueServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>findCurrentTrainsCronServlet</servlet-name>
		<servlet-class>se.acrend.christopher.server.servlet.cron.FindCurrentTrainsCronServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>purgeDataCronServlet</servlet-name>
		<servlet-class>se.acrend.christopher.server.servlet.cron.PurgeDataCronServlet</servlet-class>
	</servlet>
-->
	<servlet-mapping>
		<servlet-name>vaadinServlet</servlet-name>
		<url-pattern>/gui</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>vaadinServlet</servlet-name>
		<url-pattern>/gui/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>vaadinServlet</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>

  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
<!-- 
	<servlet-mapping>
		<servlet-name>registrationServlet</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>billingServlet</servlet-name>
		<url-pattern>/billing</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>proxyServlet</servlet-name>
		<url-pattern>/proxy</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>authQueueServlet</servlet-name>
		<url-pattern>/_ah/queue/update-server-auth</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>sendMessageQueueServlet</servlet-name>
		<url-pattern>/_ah/queue/send-message</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>findChangedStopsQueueServlet</servlet-name>
		<url-pattern>/_ah/queue/current-trains</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>findCurrentTrainsCronServlet</servlet-name>
		<url-pattern>/cron/check-traffic</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>purgeDataCronServlet</servlet-name>
		<url-pattern>/cron/delete-old-entries</url-pattern>
	</servlet-mapping>
-->
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>gui/</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>any</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>queues</web-resource-name>
			<url-pattern>/_ah/queue/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<description>Administratör</description>
		<role-name>admin</role-name>
	</security-role>

</web-app>
