<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:appCtx.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	

	<!-- Servlets -->
	<servlet>
		<servlet-name>vaadinServlet</servlet-name>
		<servlet-class>se.acrend.christopher.server.web.SpringVaadinServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>se.acrend.christopher.server.web.application.VaadinApplication</param-value>
		</init-param>
	</servlet>
	
	<servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class> org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>vaadinServlet</servlet-name>
		<url-pattern>/gui</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>vaadinServlet</servlet-name>
		<url-pattern>/gui/*</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>vaadinServlet</servlet-name>
    <url-pattern>/VAADIN/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/_ah/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/dispatch/*</url-pattern>
  </servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>any</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>queues</web-resource-name>
			<url-pattern>/_ah/queue/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/dispatch/cron/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<description>Administratör</description>
		<role-name>admin</role-name>
	</security-role>

</web-app>
